@model BookClubs.Models.ViewModels.ProfileViewModel

<style>
    #hiddenFileInput {
        display: none;
    }

    #profileImage {
        width: 150px;
        height: 150px;
        border-radius: 10%;
        border: 1px solid #cccccc;
    }

    #uploadPictureBtn {
        margin-top: 10px;
    }

    .text-danger {
        display: inline;
    }
</style>

<h2>Edit Profile</h2>

<form action="/Account/EditProfile" method="post" enctype="multipart/form-data" name="EditProfileForm">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="file" name="ProfilePicture" id="hiddenFileInput" />

    <div class="form-group">
        <label for="ProfilePicture">Profile Picture</label>
        <br />
        <img src=@Model.ProfilePictureUrl id="profileImage" />
        @Html.ValidationMessageFor(model => model.ProfilePicture, "", new { @class = "text-danger" })
        <br />
        <input type="button" value="Upload Picture" class="btn btn-default" id="uploadPictureBtn" />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Biography, new { htmlAttributes = new { } })
        <br />
        @Html.EditorFor(model => model.Biography, new { htmlAttributes = new { @placeholder = "Tell us about you", @class = "form-control", @rows = "5" } })
        @Html.ValidationMessageFor(model => model.Biography, "", new { @class = "text-danger" })
    </div>


    <input type="submit" value="Done" class="btn btn-primary" />

</form>

<script>
    var fileSelect = document.getElementById("uploadPictureBtn");
    var fileElement = document.getElementById("hiddenFileInput");

    fileSelect.addEventListener("click", function (e) {
        if (fileElement) {
            fileElement.click();
        }
        console.log(e);
        e.preventDefault();
    }, false);

    fileElement.addEventListener("change", function () { outputDebug(this.files) });
    fileElement.addEventListener("change", function () { updatePreview(this.files[0]) });

    function outputDebug(files) {
        console.log("File length is" + files.length + ".\r\f Files are:");
        for (i = 0; i < files.length; i++) {
            console.log(files[i]);
        }
    }

    function updatePreview(file) {
        var imageType = /^image\//;

        if (!imageType.test(file.type)) {
            return;
        }

        var img = document.getElementById("profileImage");
        img.file = file;

        var reader = new FileReader();
        reader.onload = (function (aImg) { return function (e) { aImg.src = e.target.result; }; })(img);
        reader.readAsDataURL(file);
        console.log('Image loaded.');
    }

</script>