@model BookClubs.Models.ViewModels.EditProfileViewModel

@Styles.Render("~/Content/BcStyles/create-profile.css")

<h2>Edit Profile</h2>

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="file" name="ProfilePicture" id="hiddenFileInput" />

    <div class="form-group">
        <label for="ProfilePicture">Profile Picture</label>
        <br />
        <img src=@Model.ProfilePictureUrl id="profileImage" />
        @Html.ValidationMessageFor(model => model.ProfilePicture, "", new { @class = "text-danger" })
        <br />
        <input type="button" value="Upload Picture" class="btn btn-default" id="uploadPictureBtn" />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Biography, new { htmlAttributes = new { } })
        <br />
        @Html.EditorFor(model => model.Biography, new { htmlAttributes = new { @placeholder = "Tell us about you", @class = "form-control", @rows = "5" } })
        @Html.ValidationMessageFor(model => model.Biography, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Public, new { htmlAttributes = new { } })
        <br />
        @Html.EditorFor(model => model.Public)
    </div>

    <input type="submit" value="Done" class="btn btn-primary" />
}

@Scripts.Render("~/Scripts/BcScripts/create-profile.js")