@model BookClubs.Models.ViewModels.GroupDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<style>
    #viewMembers {
        display: none;
        border: 2px solid #ccc;
        border-radius: 5px;
        text-align: center;
    }

    #profilePicture {
        width: 250px;
        height: 250px;
        border: 1px solid #ccc;
        margin: 10px;
        border-radius: 5px;
    }

    .profile {
        text-align: center;
    }

    .profilePreview {
        width: 150px;
        height: 150px;
        border: 1px solid #ccc;
        display: inline-block;
        margin: 10px;
        border-radius: 5px;
    }

        .profilePreview:hover {
            background-color: #ccc;
        }

    .profilePreviewImg {
        width: 100px;
        height: 100px;
        border: 1px solid #ccc;
        margin: 10px auto 5px auto;
        display: table;
        border-radius: 5px;
    }
</style>

<div class="profile">
    <img src=@Model.ProfilePictureUrl id="profilePicture" />

    <br />
    @Html.DisplayFor(model => model.GroupName)
    <br />
    @Html.DisplayFor(model => model.GroupCity)
    ,
    @Html.DisplayFor(model => model.GroupState)
    <br />
    @Html.DisplayNameFor(model => model.CurrentBookTitle):
    <br/>
    @Html.DisplayFor(model => model.CurrentBookTitle)
    <br />


    <button id="viewMembersBtn" type="button" class="btn btn-basic btn-block btn-bc">View Members (@Model.MemberCount)</button>
    <div id="viewMembers">
        @foreach (var item in Model.MemberProfiles)
        {
            <div class="profilePreview">
                <img class="profilePreviewImg" src="@item.ProfilePictureUrl" onclick="location.href='@Url.Action("Details", "Profiles", new { id = item.Id })'" />
                <p>@item.FirstName @item.LastName</p>
            </div>
        }


    </div>
</div>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function () {

        $("#viewMembersBtn").click(function () {
            $("#viewMembers").toggle();
        });

    });
</script>

