@model BookClubs.Models.ViewModels.GroupDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Model.GroupName</h4>
    <hr />


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentBookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentBookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberCount)
        </dd>
    </dl>

    <button id="viewMembersBtn" type="button" class="btn btn-basic btn-block btn-bc">Edit Profile</button>




    <div id="viewMembers" class="collapse">
        
    </div>



</div>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<style>
    #viewMembers {
        min-width: 400px;
    }
</style>

<script>
    $(document).ready(function () {

        $("#viewMembersBtn").click(function () {
            $("#viewMembers").hide();
        });

    });
</script>

