@model BookClubs.Models.ViewModels.GroupDetailsViewModel

@{
    ViewBag.Title = "Details";
}
@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/bootstrap-theme.min.css")
@*<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@
@Styles.Render("~/Content/BcStyles/group-details.css")

<div class="profile">
    <img src=@Model.ProfilePictureUrl id="profilePicture" />

    <br />
    @Html.DisplayFor(model => model.GroupName)
    <br />
    @Html.DisplayFor(model => model.GroupCity)
    ,
    @Html.DisplayFor(model => model.GroupState)
    <br />
    @Html.DisplayNameFor(model => model.CurrentBookTitle):
    <br />
    @Html.DisplayFor(model => model.CurrentBookTitle)
    <br />

    @if (Model.IsPublic || Model.IsOrganizer || Model.IsMember)
    {
        //MEMBERS
        <button id="viewMembersBtn" type="button" class="btn btn-basic btn-block btn-bc">View Members (@Model.MemberCount)</button>
        <div id="viewMembers">
            @foreach (var item in Model.MemberProfiles)
            {
                <div class="profile-preview" onclick="location.href='@Url.Action("Details", "Users", new { id = item.Id })'">
                    <img class="profile-thumbnail profile-thumbnail-large" src="@item.ProfilePictureUrl" />
                    <p>@item.FirstName @item.LastName</p>
                </div>
            }
        </div>

        //GROUP EVENTS
        <button id="viewGroupEventsBtn" type="button" class="btn btn-basic btn-block btn-bc">View Events (@Model.GroupEvents.Count)</button>
        <div id="viewGroupEvents">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupEvents.First().BookName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupEvents.First().Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupEvents.First().DateTime)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.GroupEvents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }

            </table>

        </div>


        <br />
        <hr />

        // POSTS
        @*<div id="viewWallPosts">*@
        <h2>Group Discussion</h2>


        <div id="messageBoxSection">
            <textarea class="form-control" rows="3" id="messageBox" placeholder="Post a message"></textarea>
            @{ /*TODO: Add onclick handler for the post button*/ }
            <input type="button" class="btn btn-info" value="Post" onclick="" />
        </div>

        <div id="commentSection">
            @* Iterate through top-level posts and display them *@
            @foreach (var post in Model.WallPosts)
            {
                <div class="post post-original">
                    @* Profile Image *@
                    <div class="poster-area">
                        <img class="profile-thumbnail profile-thumbnail-small" src="@post.ProfilePictureUrl" />
                        @post.PosterName
                    </div>
                    <div class="post-body-area">
                        <div class="post-body">
                            @post.Body
                        </div>
                        <div class="post-elapsed-time">
                            Posted 3 hours ago
                        </div>
                    </div>

                    @* @Html.ActionLink(post.PosterName, "Details", "Users", new { @id = post.PosterId });*@

                    @*@if (Model.CurrentUserId == post.PosterId || Model.IsOrganizer)
                        {
                            Html.ActionLink("Delete", "Delete", "GroupEvents", new { @id = post.Id });
                        }
                        @if (Model.CurrentUserId == post.PosterId)
                        {
                            Html.ActionLink("Edit", "Edit", "GroupEvents", new { @id = post.Id });
                        }*@

                    <div class="fetch-replies">
                        <button class="transparent-button" onclick="toggleReplies(@post.Id)">VIEW REPLIES (@post.Replies.Count)</button>
                    </div>

                    @* Iterate through replies. This section is hidden until toggleReplies() is called. *@
                    <div id="replySection@(post.Id)" class="reply-section">
                        @foreach (var reply in post.Replies)
                        {
                            <div class="post post-reply">
                                @* Profile Image *@
                                <div class="poster-area">
                                    <img class="profile-thumbnail profile-thumbnail-small" src="@reply.ProfilePictureUrl" />
                                    @reply.PosterName
                                </div>
                                <div class="post-body-area">
                                    <div class="post-body">
                                        @reply.Body
                                    </div>
                                    <div class="post-elapsed-time">
                                        Posted 3 hours ago
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>

                @* Iterate through replies to this post but keep them hidden*@
            }
        </div>
                }
                else
                {
                    <p>This group is private.</p>
                }

</div>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<script>
    $(document).ready(function () {

        $("#viewMembersBtn").click(function () {
            $("#viewMembers").toggle();
        });

        $("#viewWallPostsBtn").click(function () {
            $("#viewWallPosts").toggle();
        });

        $("#viewGroupEventsBtn").click(function () {
            $("#viewGroupEvents").toggle();
        });
    });

    function toggleReplies(id) {
        $("#replySection" + id.toString()).toggle();
    }


</script>

