@model BookClubs.Models.ViewModels.ProfileDetailsViewModel

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/BcStyles/profile-details.css")

<div class="profile">
    @Html.HiddenFor(model => model.Id, new { @id = "user-id" })
    <hr />
    <img src="@Model.ProfilePictureUrl" id="profilePicture" />

    <br />

    @Html.DisplayFor(model => model.FirstName, new { @class = "name" })
    @Html.DisplayFor(model => model.LastName, new { @class = "name" })

    <br />
    @if (Model.IsPublicProfile || Model.IsFriend || Model.IsRequestReceived)
    {
        //Public profile
        <div>
            @if (!Model.IsFriend && !Model.IsRequestSent && !Model.IsRequestReceived)
            {
                <button id="add-friend" class="friend-status btn-primary">Add Friend</button>
            }
            else if (Model.IsRequestSent)
            {
                <span class="friend-status">Friend request sent.</span>
            }
            else if (Model.IsRequestReceived)
            { 
                <button id="accept-request" class="friend-status btn-primary">Accept @Model.FirstName's Request</button>
            }
            else if (Model.IsFriend)
            {
                <span id="friends" class="friend-status">Friends</span>
            }

            <br />
            <br />

            @Html.DisplayFor(model => model.Biography)

            @if (Model.IsPublicProfile || Model.IsFriend)
            {
                <button id="viewFriendsBtn" type="button" class="btn btn-basic btn-block btn-bc">@Model.FirstName's Friends (@Model.Friends.Count)</button>
                <div id="viewFriends" class="toggle-div">
                    @foreach (var item in Model.Friends)
                    {
                        <div class="profilePreview">
                            <img class="profilePreviewImg" src="@item.ProfilePictureUrl" onclick="location.href='@Url.Action("Details", "Users", new { id = item.Id })'" />
                            <p>@item.FirstName @item.LastName</p>
                        </div>
                    }
                </div>

                <button id="viewGroupsBtn" type="button" class="btn btn-basic btn-block btn-bc">@Model.FirstName's Groups (@Model.GroupsIn.Count)</button>
                <div id="viewGroups" class="toggle-div">
                    @Html.Partial("_GroupsListPartial", Model.GroupsIn)
                </div>
            }

        </div>
    }
    else
    {
        //Private notice
        <p>This user's profile is private.</p>
    }

</div>

@Scripts.Render("~/Scripts/BcScripts/profile-details.js")

<div id="dialog-form" title="Send Friend Request">

    <form class="form-horizontal"></form>
    <fieldset>
        <label for="message" class="control-label">Message</label>
        <textarea class="form-control" rows="5" id="message" placeholder="You may add a message here."></textarea>
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>

</div>

