@model BookClubs.Models.ViewModels.ProfileDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<style>
    .profile {
        text-align: center;
    }

    .profile-item {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        display:block;
    }

    .profilePreview {
        width: 150px;
        height: 150px;
        border: 1px solid #ccc;
        display: inline-block;
        margin: 10px;
        border-radius: 5px;
    }

        .profilePreview:hover {
            background-color: #ccc;
        }

    .profilePreviewImg {
        width: 100px;
        height: 100px;
        border: 1px solid #ccc;
        margin: 10px auto 5px auto;
        display: table;
        border-radius: 5px;
    }

    .toggle-div {
        display: none;
        border: 2px solid #ccc;
        border-radius: 5px;
        text-align: center;
    }

    #profilePicture {
        width: 250px;
        height: 250px;
        border: 1px solid #ccc;
        margin: 10px;
        border-radius: 5px;
    }
</style>

<div class="profile">
    <hr />
    <img src="@Model.ProfilePictureUrl" id="profilePicture" />

    <br />

    @Html.DisplayFor(model => model.FirstName, new { @class = "name" })
    @Html.DisplayFor(model => model.LastName, new { @class = "name" })

    <br />
    @if (Model.IsPublicProfile || Model.IsFriend)
    {
        //Public profile
        <div>
            @if (!Model.IsFriend)
            {
                <button class="btn-primary" onclick="location.href='@Url.Action("SendRequest", "Profiles", new { id = Model.Id })'">Add Friend</button>
                <br />
                <br />
            }
            else if (Model.IsRequestPending)
            {
                <p>Friend request sent.</p>
            }
            else {
                <p>Friends</p>
            }

            @Html.DisplayFor(model => model.Biography)

            <button id="viewFriendsBtn" type="button" class="btn btn-basic btn-block btn-bc">@Model.FirstName's Friends</button>
            <div id="viewFriends" class="toggle-div">
                @foreach (var item in Model.Friends)
                {
                    <div class="profilePreview">
                        <img class="profilePreviewImg" src="@item.ProfilePictureUrl" onclick="location.href='@Url.Action("Details", "Profiles", new { id = item.Id })'" />
                        <p>@item.FirstName @item.LastName</p>
                    </div>
                }
            </div>

            <button id="viewGroupsBtn" type="button" class="btn btn-basic btn-block btn-bc">@Model.FirstName's Groups</button>
            <div id="viewGroups" class="toggle-div">
                @Html.Partial("_GroupsListPartial", Model.GroupsIn)
            </div>
        </div>
    }
    else
    {
        //Private notice
        <p>This user's profile is private.</p>
    }  

</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function () {

        $("#viewFriendsBtn").click(function () {
            $("#viewFriends").toggle();
        });

        $("#viewGroupsBtn").click(function () {
            $("#viewGroups").toggle();
        });

    });
</script>

