@model BookClubs.Models.ViewModels.ProfileDetailsViewModel

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/BcStyles/profile-details.css");

<div class="profile">
    @Html.HiddenFor(model => model.Id, new { @id = "userId" })
    <hr />
    <img src="@Model.ProfilePictureUrl" id="profilePicture" />

    <br />

    @Html.DisplayFor(model => model.FirstName, new { @class = "name" })
    @Html.DisplayFor(model => model.LastName, new { @class = "name" })

    <br />
    @if (Model.IsPublicProfile || Model.IsFriend || Model.IsRequestReceived)
    {
        //Public profile
        <div>
            @if (!Model.IsFriend && !Model.IsRequestSent && !Model.IsRequestReceived)
            {
                <button id="addFriend" class="btn-primary">Add Friend</button>
            }
            else if (Model.IsRequestSent)
            {
                <p>Friend request sent.</p>
            }
            else if (Model.IsRequestReceived)
            {
                <button id="acceptFriend" class="btn-primary" onclick="location.href='@Url.Action("AcceptRequest", "Profiles", new { @id = Model.Id })'">Accept @Model.FirstName's Request</button>
                //onclick = "@Url.Action("AcceptRequest", "Profiles", new { @id = Model.Id })"
            }
            else if (Model.IsFriend)
            {
                <p>Friends</p>
            }

            <br />
            <br />

            @Html.DisplayFor(model => model.Biography)

            @if (Model.IsPublicProfile || Model.IsFriend)
            {
                <button id="viewFriendsBtn" type="button" class="btn btn-basic btn-block btn-bc">@Model.FirstName's Friends</button>
                <div id="viewFriends" class="toggle-div">
                    @foreach (var item in Model.Friends)
                    {
                        <div class="profilePreview">
                            <img class="profilePreviewImg" src="@item.ProfilePictureUrl" onclick="location.href='@Url.Action("Details", "Profiles", new { id = item.Id })'" />
                            <p>@item.FirstName @item.LastName</p>
                        </div>
                    }
                </div>

                <button id="viewGroupsBtn" type="button" class="btn btn-basic btn-block btn-bc">@Model.FirstName's Groups</button>
                <div id="viewGroups" class="toggle-div">
                    @Html.Partial("_GroupsListPartial", Model.GroupsIn)
                </div>
            }

        </div>
    }
    else
    {
        //Private notice
        <p>This user's profile is private.</p>
    }

</div>

@Scripts.Render("~/Scripts/BcScripts/profile-details.js");

<div id="dialog-form" title="Send Friend Request">

    <form class="form-horizontal"></form>
    <fieldset>
        <label for="message" class="control-label">Message</label>
        <textarea class="form-control" rows="5" id="message" placeholder="You may add a message here."></textarea>
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>

</div>

